<div class="sidebar col-md-3 hide-ios">
  <div class="card">
    <div class="card-body">
      <% if can? :create, Post %>
        <%= link_to "提交新文章", new_post_path, class: 'btn btn-block btn-primary' %>
      <% end %>
      <hr />

      <% if can? :publish, Post %>
      <hr />
      <a href="<%= upcoming_posts_path %>" data-turbolinks-action="replace">
        <i class="fa fa-newspaper-o"></i> 待审核列表...
      </a>
      <% end %>
    </div>
  </div>

  <%= raw Setting.topic_index_sidebar_html %>

  <div class="card">
    <div class="card-header">内容伙伴</div>
    <ul class="list-group list-group-flush" style="text-align: center;">
      <li class="list-group-item">
        <img src="https://nestfanshk.oss-cn-hongkong.aliyuncs.com/nestfans/%E6%98%9F%E7%90%83%E6%97%A5%E6%8A%A5.png" style="width:110px; margin-bottom: 5px;" />
        <img src="https://nestfanshk.oss-cn-hongkong.aliyuncs.com/nestfans/%E5%8C%BA%E5%9D%97%E5%BE%8B%E5%8A%A8.png" style="width: 110px; margin-bottom: 5px;" />
        <img src="https://nestfanshk.oss-cn-hongkong.aliyuncs.com/nestfans/%E9%93%BE%E9%97%BB.png" style="width: 110px; margin-bottom: 5px;" />
        <img src="https://nestfanshk.oss-cn-hongkong.aliyuncs.com/nestfans/coindesk%E4%B8%AD%E6%96%87.png" style="width: 110px; margin-bottom: 5px;" />
        <img src="https://nestfanshk.oss-cn-hongkong.aliyuncs.com/nestfans/%E5%B7%B4%E6%AF%94%E7%89%B9.png" style="width: 110px; margin-bottom: 5px;" />
        <img src="https://nestfanshk.oss-cn-hongkong.aliyuncs.com/nestfans/%E4%BB%A5%E5%A4%AA%E5%9D%8A%E7%88%B1%E5%A5%BD%E8%80%85.png" style="width: 110px; margin-bottom: 5px;" />
        <img src="https://nestfanshk.oss-cn-hongkong.aliyuncs.com/nestfans/NEST%E7%88%B1%E5%A5%BD%E8%80%85.png" style="width: 110px; margin-bottom: 5px;" />
        <img src="https://nestfanshk.oss-cn-hongkong.aliyuncs.com/nestfans/%E4%BB%A5%E5%A4%AA%E5%9D%8A%E4%B8%AD%E5%9B%BD.png" style="width: 110px; margin-bottom: 5px;" />
      </li>
    </ul>
  </div>

</div>
